@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
body {
    padding: 0;
    margin: 0;
}

.container {
    flex-direction: 'row';
    background-color: white;
    padding: 0;
    margin: 0;
}

.sideBar {
    position: relative;
    background-image: url(./assets/sidebar.jpg);
    width: 300px;
    height: 100%;
    overflow: hidden;
    -webkit-transition: .4s;
    transition: .4s;
    border-top-right-radius: 25px;
    -webkit-box-shadow: 6px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.pp {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    border-style: solid;
    border-color: white;
    border-radius: 100px;
    width: 200;
    height: 200;
}

.name {
    font-family: 'Righteous', cursive;
    text-align: center;
    color: white;
    font-size: 20;
    margin-bottom: 0;
    padding-bottom: 0;
}

.tag {
    font-family: 'Teko', sans-serif;
    margin: 0;
    color: white;
    text-align: center;
}

.first_div {
    padding: 10px;
    margin-top: 70;
}

.second_div {
    padding: 10px;
    margin-top: 50;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10;
    width: 200px;
    margin-left: 50px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 10;
    padding-bottom: 10;
    padding-right: 0;
    max-height: 50px;
    background-color: white;
    border-radius: 5px;
}

.icon {
    padding: 20;
    padding-top: 0;
    padding-bottom: 0;
    height: 25px;
    width: 25px;
}

.settings {
    position: absolute;
    top: 20;
    right: 15;
}

.settings_div {
    position: absolute;
    display: none;
    right: 0;
    width: 70%;
    background-color: white;
    border-radius: 5px;
    border-top-right-radius: 25px;
    padding: 10;
}

.choose {
    background-color: white;
    padding: 10;
    padding-left: 10;
    margin-top: 10;
    border-radius: 5px;
}

.choose:hover {
    background-color: #eee;
}

.choose:hover .icon_div {
    right: 20;
}

.option {
    padding: 10;
    padding-left: 10;
    margin-top: 10;
}

.icon_div {
    position: absolute;
    transition: all 0.5s ease;
    right: 40;
}

.text {
    font-family: 'Josefin Sans', sans-serif;
}

.text_setting {
    font-family: 'Josefin Sans', sans-serif;
}

.switch_language {
    position: absolute;
    right: 10;
    display: inline-block;
    width: 60px;
    height: 36px;
}

.switch_language input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_language {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider_language:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url(./assets/english.png);
    background-size: cover;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider_language {
    background-color: red;
}

input:focus+.slider_language {
    box-shadow: 0 0 1px red;
}

input:checked+.slider_language:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-image: url(./assets/turkey.png);
    background-size: cover;
}


/* Rounded sliders */

.slider_language.round {
    border-radius: 34px;
}

.slider_language.round:before {
    border-radius: 50%;
}

.switch_theme {
    position: absolute;
    right: 10;
    display: inline-block;
    width: 60px;
    height: 36px;
}

.switch_theme input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_theme {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider_theme:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url(./assets/sun.png);
    background-size: cover;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider_theme {
    background-color: black;
}

input:checked+.slider_theme:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-image: url(./assets/moon.png);
    background-size: cover;
}


/* Rounded sliders */

.slider_theme.round {
    border-radius: 34px;
}

.slider_theme.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        height: 100vh;
        width: 100vw;
        border-top-right-radius: 0px;
    }
    .settings_div {
        width: 50%;
        border-radius: 0px;
    }
    .settings_div {
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        border-radius: 5px;
        padding: 10;
    }
    .contact {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 10;
        width: 100vw;
        margin-left: 0px;
    }
}

@media only screen and (max-height:768px) {
    .first_div {
        padding: 10px;
        margin-top: 0;
    }
    .second_div {
        margin-top: 20px;
    }
}